html, body {
  margin: 0;
  padding: 0;
  background: gray; }

.container {
  width: 960px;
  margin: 0 auto;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transform: rotate(10deg) translateY(200px);
      -ms-transform: rotate(10deg) translateY(200px);
          transform: rotate(10deg) translateY(200px); }

h1 {
  transition: all 250ms; }
  h1:hover {
    color: blue;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg); }
